/* TODO Add site wide styles */
:root {
    --grey-bg: rgba(250,250,250,255);
    --grey-border: #dbdbdb;
    --text-color: #262626;
    --blue-button: #0894f4;
    --dark-blue: #385185;
}


body {
    background-color: var(--grey-bg);
    font-family: 'Roboto', sans-serif;
}