.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-wrapper {
    border: 1px solid var(--grey-border);
    background-color: white;
    margin-bottom: 50px;
    width: 470px;
}

.post img {
    width: 470px;
    height: 470px;
    object-fit: cover;
}