.comments-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main-line {
    display: flex;
    align-items: center;
}

.username {
    font-weight: bold;
    margin: 0 10px;
}

#comment-text span {
    font-size: 14px;
}
#main-line a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
    margin-right: 10px;
}

#main-line div:last-of-type {
    margin-left: auto;
}

#time-container {
    margin: 2px 0 5px 30px;
}
