.userContainer {
    display: flex;
    flex-direction: column;
    width: 896px;
    margin: 0 auto 100px auto;
}

.userDetails {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto 44px auto;
    margin-top: 100px;
}

.userDetails img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.userDetails span {
    font-size: 16px;
    font-weight: bold;
}

.userImg {
    display: flex;
    justify-content: center;
    width: 291px;
}
.postNum {
    margin-bottom: 20px;
}

.postNum span{
    font-weight: 400;
}

.userPostsContainer {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    justify-content: center;
    margin: 0 auto;
    padding-top: 53px;
    border-top: var(--border) ;
    width: 100%;
    gap: 28px;
}


.imgWrapper {
    width: 100%;
    height: 280px;
}


.imgWrapper img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}


.userHeader {
    display: flex;
    align-items: center;
    gap: 15px;
}

.userHeader h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.userHeader button {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 93px;
    height: 30px;
    padding: 5px 9px;
    background-color: white;
    border: var(--border);
    border-radius: 3px;
}

.modalContainer img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

