#navbar {
    display: flex;
    background-color: white;
}

#navlinks img{
    width: 24px;
}
#navlinks li{
    display: inline-block;
}
svg{
    color: rgb(38, 38, 38);
    fill: rgb(38, 38, 38);
    height: 24;
    width: 24; 
}

.hidden {
    display: none;
}