#navbar {
    display: flex;
    background-color: white;
    border: 1px solid var(--grey-border)
}

#navlinks img{
    width: 24px;
}
#navlinks li{
    display: inline-block;
}
#logo {
    display: flex;
    align-items: center;
}
#logo h2{
    font-size: 32px;
    margin: 0px;
    color: var(--text-color);
    font-family: 'Billabong', sans-serif; 
}
svg{
    color: rgb(38, 38, 38);
    fill: rgb(38, 38, 38);
    height: 24;
    width: 24; 
}

.hidden {
    display: none;
}